body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main{
  display: flex;
}
.filter{
  position: sticky;
  top: 0;
  width: 20%;
  height: 100%;
  display: inline;
  padding-bottom: 20px;
  padding-left: 2%;
  background-color: #eeeeee;
  .condition{
    .condition_val{
      display: block;
    }
  }
  .price{
    input{
      width: 50px;
    }
  }
  .end_time{
    display: block;
  }
}
.content{
  width: 80%;
  margin-top: 20px;
  box-sizing: border-box;
  #goods{
    display: inline-block;
    padding-top: 10px;
    .card{
      margin: 10px;
      display: inline-block;
      border: 1px solid #aaaaaa;
      border-radius: 4px;
      width: 31%;
      .pic{
        width: 85%;
        margin: 35px auto;
        img{
          width: 95%;
          height: 95%;
        }
      }
      .name{
        color:#444;
        width: 90%;
        height: 100%;
        padding: 10px;
        a{
          padding: 0px;
          margin: 0px;
          text-decoration: none;
          color:#000;
          font-size: 1.5rem;
        }
      }
      p{
        padding:0 10px;
        overflow: hidden;
        width: 90%;
      }
      .timer{
        color: firebrick;
        float: right;
        padding-right: 10px;
      }
      .price_now{
        float:left;
        padding-left: 10px;
      }
      .description_item{
        margin: 0px 10px ;
        height: 70px;
        overflow: hidden;
        text-overflow:ellipsis;
        p{

        }
      }
    }
  }
  #pages{
    margin: 10px auto;
    width: 100px;
    button{
      margin: 0 2px;
      display: inline-block;
      width: 25px;
      height: 25px;
    }
  }
}
@media (max-width: 760px){
  .content #goods .card{
    width: 90%;
  }
}
@media (min-width: 760px) and (max-width: 1200px) {
  .content #goods .card{
        width: 45%;
  }
}
@media (min-width: 1600px){
  .content #goods .card{
    width: 22%;
  }
}